<?xml version="1.0"?>
<config>
  <modules>
    <FlipKart_PayZippy>
      <version>0.1.0</version>
    </FlipKart_PayZippy>
  </modules>
  <global>
    <models>
      <payzippy>
        <class>FlipKart_PayZippy_Model</class>
      </payzippy>
    </models>
    <helpers>
      <payzippy>
        <class>FlipKart_PayZippy_Helper</class>
      </payzippy>
    </helpers>
    <blocks>
      <payzippy>
        <class>FlipKart_PayZippy_Block</class>
      </payzippy>
    </blocks>
    <fieldsets>
             <sales_convert_quote_payment>
                <payzippy_payment_method>
                    <to_order_payment>*</to_order_payment>
                </payzippy_payment_method>
                <payzippy_bank_name>
                    <to_order_payment>*</to_order_payment>
                </payzippy_bank_name>
                <payzippy_emi_months>
                    <to_order_payment>*</to_order_payment>
                </payzippy_emi_months>
             </sales_convert_quote_payment>
    </fieldsets>
    <resources>
        <payzippy_setup>
            <setup>
                <module>FlipKart_PayZippy</module>
                <class>FlipKart_PayZippy_Model_Mysql4_Setup</class>
            </setup>
        </payzippy_setup>
    </resources>
  </global>
  <default>
    <payment>
      <payzippy>
        <model>payzippy/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Payzippy</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </payzippy>
    </payment>
  </default>
  <frontend>
    <routers>
      <payzippy>
        <use>standard</use>
        <args>
          <module>FlipKart_PayZippy</module>
          <frontName>payzippy</frontName>
        </args>
      </payzippy>
    </routers>
  </frontend>
</config>
